name: "CI/CD con Seguridad SAST, SCA, DAST y DefectDojo"

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

# Estrategia de activación manual
  workflow_dispatch:
    inputs:
      run_sca:
        description: 'Ejecutar SCA (Dependency Check)'
        required: true
        type: boolean
        default: true
      run_sast:
        description: 'Ejecutar SAST (CodeQL)'
        required: true
        type: boolean
        default: true
      run_trivy:
        description: 'Ejecutar Escaneo de Contenedores (Trivy)'
        required: true
        type: boolean
        default: false  
      run_dast:
        description: 'Ejecutar DAST (OWASP ZAP)'
        required: true
        type: boolean
        default: false

jobs:

  build-and-scan:
    name: Compilación, Escaneo y DefectDojo
    # se usa self-hosted para alcanzar el localhost del DefectDojo
    runs-on: self-hosted
    timeout-minutes: 60

    # Se ejecuta si es un evento automático O si el input manual es true
    if: |
      github.event_name != 'workflow_dispatch' || 
      github.event.inputs.run_sca == 'true' || 
      github.event.inputs.run_trivy == 'true'
    
    strategy:
      matrix:
        service: [user-service, auth-service, gateway-service, registry-service, product-service, order-service]
      fail-fast: false

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Compilar con Gradle
      #shell: pwsh
      run: |
        cd ${{ matrix.service }}
        chmod +x gradlew
        ./gradlew build -x test

    # --- ANÁLISIS SCA ---
    - name: OWASP Dependency Check
      if: github.event_name != 'workflow_dispatch' || github.event.inputs.run_sca == 'true'
      uses: dependency-check/DependencyCheck-Action@main
      with:
        project: ${{ matrix.service }}
        path: './${{ matrix.service }}'
        format: 'XML' # XML es mejor para importar en DefectDojo
        out: 'reports/${{ matrix.service }}'
        args: >
          --failOnCVSS 7
      continue-on-error: true

    # --- IMPORTAR A DEFECTDOJO (SCA) ---
    - name: Subir a DefectDojo (Dependency Check)
      #shell: pwsh
      if: always() && (github.event_name != 'workflow_dispatch' || github.event.inputs.run_sca == 'true')
      env:
        DOJO_TOKEN: ${{ secrets.DEFECTDOJO_TOKEN }}
        DOJO_URL: ${{ secrets.DEFECTDOJO_URL }}
      run: |
        REPORT_PATH="reports/${{ matrix.service }}/dependency-check-report.xml"
        if [ -f "$REPORT_PATH" ]; then
          curl -X POST "${DOJO_URL%/}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_TOKEN }}" \
          -H "Accept: application/json" \
          -k \
          -F "active=true" \
          -F "verified=true" \
          -F "scan_type=Dependency Check Scan" \
          -F "product_name=${{ matrix.service }}" \
          -F "engagement_name=CI/CD Scan $(date +'%Y-%m-%d')" \
          -F "file=@$REPORT_PATH"
        else
          echo "No se encontró el reporte en $REPORT_PATH"
        fi

    - name: Construir Imagen Docker
      run: |
        cd ${{ matrix.service }}
        docker build -t ${{ matrix.service }}:latest .

    # --- ESCANEO DE CONTENEDORES (TRIVY) ---
    - name: Escaneo de Imagen con Trivy
      if: github.event_name == 'workflow_dispatch' && github.event.inputs.run_trivy == 'true'
      run: |
        # Usamos la imagen oficial de Trivy para evitar instalación manual en el runner
        docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v ${{ github.workspace }}/reports/${{ matrix.service }}:/root/.cache/ \
          aquasec/trivy:latest image \
          --format json \
          --output /root/.cache/trivy-results.json \
          ${{ matrix.service }}:latest

    # --- IMPORTAR A DEFECTDOJO (TRIVY) ---
    - name: Subir a DefectDojo (Trivy Scan)
      if: always() && github.event_name == 'workflow_dispatch' && github.event.inputs.run_trivy == 'true'
      env:
        DOJO_TOKEN: ${{ secrets.DEFECTDOJO_TOKEN }}
        DOJO_URL: ${{ secrets.DEFECTDOJO_URL }}
      run: |
        REPORT_PATH="reports/${{ matrix.service }}/trivy-results.json"
        if [ -f "$REPORT_PATH" ]; then
          curl -X POST "${DOJO_URL%/}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_TOKEN }}" \
          -H "Accept: application/json" \
          -k \
          -F "active=true" \
          -F "verified=true" \
          -F "scan_type=Trivy Scan" \
          -F "product_name=${{ matrix.service }}" \
          -F "engagement_name=CI/CD Scan $(date +'%Y-%m-%d')" \
          -F "file=@$REPORT_PATH"
        else
          echo "No se encontró el reporte de Trivy en $REPORT_PATH"
        fi

  # --- ANÁLISIS SAST (CODEQL) ---
  analyze:
    name: Análisis SAST (CodeQL)
    runs-on: self-hosted
    if: github.event_name != 'workflow_dispatch' || github.event.inputs.run_sast == 'true'
    timeout-minutes: 60
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    - name: Checkout del código
      uses: actions/checkout@v4
    - name: Configurar JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'  
    - name: Inicializar CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: 'java-kotlin'
    # las siguientes 2 lineas se usan para cuando se tienen repos por separado
    #- name: Autobuild
    #  uses: github/codeql-action/autobuild@v3
    # las siguientes lineas se usan para cuando se tiene un solo repo
    - name: Compilación Manual para CodeQL
      run: |
        # Lista de tus servicios
        services=("user-service" "auth-service" "gateway-service" "registry-service" "product-service" "order-service")
        
        for service in "${services[@]}"; do
          echo "Compilando $service para análisis..."
          if [ -f "$service/gradlew" ]; then
            cd $service
            chmod +x gradlew
            ./gradlew build -x test
            cd ..
          else
            echo "No se encontró gradlew en el servicio $service"
          fi
        done
    - name: Realizar Análisis de CodeQL
      uses: github/codeql-action/analyze@v4
      with:
        category: "/language:java-kotlin"

      # --- IMPORTAR A DEFECTDOJO (CODEQL) ---
    - name: Subir a DefectDojo (CodeQL SARIF)
      if: always() && (github.event_name != 'workflow_dispatch' || github.event.inputs.run_sast == 'true')
      env:
        DOJO_TOKEN: ${{ secrets.DEFECTDOJO_TOKEN }}
        DOJO_URL: ${{ secrets.DEFECTDOJO_URL }}
      run: |
        # Buscar el archivo SARIF generado por CodeQL en el directorio temporal del runner
        SARIF_FILE=$(find "${{ runner.temp }}" -name "*.sarif" | head -n 1)
        if [ -n "$SARIF_FILE" ]; then
          echo "Subiendo $SARIF_FILE a DefectDojo..."
          curl -X POST "${DOJO_URL%/}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_TOKEN }}" \
          -H "Accept: application/json" \
          -k \
          -F "active=true" \
          -F "verified=true" \
          -F "scan_type=SARIF" \
          -F "product_name=Monorepo-SAST" \
          -F "engagement_name=CodeQL Scan $(date +'%Y-%m-%d')" \
          -F "file=@$SARIF_FILE"
        else
          echo "No se encontró ningún archivo SARIF para subir."
        fi

  analyze-dast:
    name: Análisis DAST (OWASP ZAP)
    runs-on: self-hosted
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.run_dast == 'true'
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: 'https://localhost:3000' # Cambiar por el endpoint de tu microservicio
          rules_file_name: '.zap/rules.tsv'
          fail_action: false

      - name: Subir DAST a DefectDojo
        if: always()
        run: |
          # Importación específica para ZAP en DefectDojo
          curl -X POST "${{ secrets.DOJO_URL }}/api/v2/import-scan/" \
          -H "Authorization: Token ${{ secrets.DEFECTDOJO_TOKEN }}" \
          -F "active=true" \
          -F "verified=true" \
          -F "scan_type=ZAP Scan" \
          -F "product_name=Distributed-App-DAST" \
          -F "file=@zap_out.xml"
